body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;
}

form {
  display: flex;
  justify-content: center;
}

form input, form label {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#root {
  border: dotted;
  background-color: #FAFBFC;
  padding: 40px;
  font-family: Helvetica;
}
#root div >div {
    flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

#root div > div img {
  width: 100px;
  height:100px;
  border-radius: 100%;
}

