body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;
}

form {
  display: flex;
  justify-content: center;
}

form input, form label {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#root {
  border: dotted;
  background-color: #FAFBFC;
  padding: 40px;
  font-family: Helvetica;
}
